name: Build and test

on: [push, pull_request]

jobs:
  build_test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Build and test
        run: |
          cargo build --verbose
          cargo test --verbose
