name: Build and test

on: [push, pull_request]

jobs:
  build_test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - name: Build and test
        run: |
          cargo build --verbose
          cargo test --verbose
